<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1 class="header-title">Knightster</h1>
    <br />
    <h2>When You Play Chess <br /> You Win Or You Die </h2>
    <br />
    <%= link_to 'Join Game', '#', class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>

<div class="overlay">
  <br />
  <h1 class="paragraph-title">Build a Knightster Chess App</h1>
  <br /><br />
  <div class="row feature text-center">
    <div class="booyah-box col-12 col-sm">
      <%= link_to image_tag("building.png", alt: "To build a web app"), '/', class: 'navbar-brand hidden-xs-down hidden-sm-down hidden-md-down' %>
      <br /><br />
      <h4>What We're Building</h4>
      <br />
      <p>To build a chess app as a Ruby on Rails application</p>
    </div>

    <div class="booyah-box col-12 col-sm">
      <%= link_to image_tag("agile.png", alt: "Agile team meetings"), '/', class: 'navbar-brand hidden-xs-down hidden-sm-down hidden-md-down' %>
      <br /><br />
      <h4>How It Works</h4>
      <br />
      <p>To set up weekly agile team meetings and using GitHub in advanced mode</p>
    </div>

    <div class="booyah-box col-12 col-sm">
      <%= link_to image_tag("goal.png", alt: "Project's goal"), '/', class: 'navbar-brand hidden-xs-down hidden-sm-down hidden-md-down' %>
      <br /><br />
      <h4>The Team Project's Goal</h4>
      <br />
      <p>To give the real world experience to be a high-impact member of any technical team</p>
    </div>
  </div>


  <br /><br />
  <div class="row feature text-center">
    <div class="booyah-box col-12 col-sm">
      <%= link_to image_tag("team.png", alt: "Team"), '/', class: 'navbar-brand hidden-xs-down hidden-sm-down hidden-md-down' %>
      <br /><br />
      <h4>Work Together As A Team</h4>
      <br />
      <p>To break challenges into smaller pieces, and pair program effectively with other team members</p>
    </div>

    <div class="booyah-box col-12 col-sm">
      <%= link_to image_tag("opensource.png", alt: "Open Source"), '/', class: 'navbar-brand hidden-xs-down hidden-sm-down hidden-md-down' %>
      <br /><br />
      <h4>Open Source Contribution</h4>
      <br />
      <p>To teach important concepts of how to work together as a team</p>
    </div>

    <div class="booyah-box col-12 col-sm">
      <%= link_to image_tag("slack.png", alt: "Slack"), '/', class: 'navbar-brand hidden-xs-down hidden-sm-down hidden-md-down' %>
      <br /><br />
      <h4>Communication Tools</h4>
      <br />
      <p>To write good tests for code, know how to receive and give code reviews, and communicate with other team members</p>
    </div>
  </div>
</div>