<br />
<div class="booyah-box col-10 offset-1">
  <h2 class="paragraph-title text-center">Change Your Password</h2>
  <br />
  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <%= f.input :reset_password_token, as: :hidden %>
    <%= f.full_error :reset_password_token %>

    <div class="form-inputs">
      <%= f.input :password, label: "New Password", required: false, autofocus: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
      <%= f.input :password_confirmation, label: "Confirm Your New Password", required: false %>
    </div>
    <br />
    <div class="form-actions">
      <%= f.button :submit, "Change My Password", class: 'btn btn-primary' %>
    </div>
  <% end %>
  <br />
  <%= render "devise/shared/links" %>
</div>
